<div class="row">
  <div class="col-xs-10">
    <md-tab-group>
      <md-tab label="Tab 1">Content 1</md-tab>
      <md-tab label="Tab 2">Content 2</md-tab>
      <md-tab label="Tab 3">Content 3</md-tab>
      <md-tab label="Tab 4">Content 4</md-tab>
      <md-tab label="Tab 5">Content 5</md-tab>
      <md-tab label="Tab 6">Content 6</md-tab>
      <md-tab label="Tab 7">Content 7</md-tab>
      <md-tab label="Tab 8">Content 8</md-tab>
      <md-tab label="Tab 9">Content 9</md-tab>
      <md-tab label="Tab 10">Content 10</md-tab>
      <md-tab label="Tab 11">Content 11</md-tab>
      <md-tab label="Tab 12">Content 12</md-tab>
      <md-tab label="Tab 13">Content 13</md-tab>
      <md-tab label="Tab 14">Content 14</md-tab>
      <md-tab label="Tab 15">Content 15</md-tab>
      <md-tab label="Tab 16">Content 16</md-tab>
      <md-tab label="Tab 17">Content 17</md-tab>
    </md-tab-group>
  </div>
  <div class="col-xs-2">
    TEXT HERE!
  </div>
</div>
